.pytest_cache
.vscode
.venv
__pycache__
*.egg-info
.DS_STORE
!.hub/.vscode
.hub/*.yaml
.hub/libs/*.libsonnet
!.hub/libs/skaffold.libsonnet
!.hub/env
.hub/hub.elaborate
.hub/hub.state
.hub/manifests
.hub/templates/*.json
!.hub/templates/vscode-settings-template.json
